<launch>
    <param name="~debug" value="false" /> <!-- Set to 'true' or 'false' -->
    <param name="~show_images" value="true" /> <!-- Set 'true' or 'false' to show_images -->
    <param name="~frame_rate" value="30.0" /> <!-- Set your desired frame rate -->
    <param name="~output_folder" value="/home/abbas/Desktop/output" />
    <param name="~rosbag_path" value="/home/abbas/Desktop/action_recording_2.bag" />
    <node pkg="video_recorder" type="VideoRecorder.py" name="video_recorder_node" output="screen" />
</launch>
